@mixin scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--root-color-scroll-thumb) var(--root-color-scroll-track);

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--root-color-scroll-track);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--root-color-scroll-thumb);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--root-color-scroll-thumb-active);
  }
}
