.box-modal {
  position: fixed;
  inset: 0;
  background: red;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: var(--root-animation-duration);

  ._box-opening & {
    opacity: 1;
    visibility: visible;
  }

  &__video {
    visibility: hidden;
    opacity: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    ._box-opening &--portrait {
      @media (orientation: portrait) {
        opacity: 1;
        visibility: visible;
      }
    }

    ._box-opening &--landscape {
      @media (orientation: landscape) {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
