.countdown {
  $measurements: 200px;
  
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__number {
    position: relative;
    display: inline-block;

    @include font(80px, 1, 400, $second-font-family);

    @include media-breakpoint-up(sm) {
      @include font(130px, 1, 400, $second-font-family);
    }

    @include media-breakpoint-up(md) {
      @include font(160px, 1, 400, $second-font-family);
    }

    @include media-breakpoint-up(xl) {
      @include font(170px, 1, 400, $second-font-family);
    }

    @include media-breakpoint-up(xxl) {
      @include font(190px, 1, 400, $second-font-family);
    }

    ._raffle-countdown & {
      animation: numberScaling 8s linear infinite, countdown-color 8s linear infinite;
    }
  }

  &__timer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }

  &__circle {
    stroke-dasharray: 1256.129px;
    stroke-dashoffset: 0;
    stroke-width: 30px;
    stroke-linecap: round;
    stroke: red;
    fill: rgba(255, 255, 255, 0.1);

    ._raffle-countdown & {
      animation: countdown 8s linear infinite;
    }
  }
}

@keyframes countdown {
  0% {
    stroke: #8892ee;
    stroke-dashoffset: 0px;
  }
  
  33% {
    stroke: #B4BAEC;
  }
  
  66% {
    stroke: #FFBAAB;
  }
  
  90% {
    stroke: #F9E3B0;
  }
  
  100% {
    stroke: #efc156;
    stroke-dashoffset: 1256.129px;
  }
}


@keyframes countdown-color {
  0% {
    color: #8892ee;
  }
  
  33% {
    color: #B4BAEC;
  }
  
  66% {
    color: #FFBAAB;
  }
  
  90% {
    color: #F9E3B0;
  }
  
  100% {
    color: #efc156;
  }
}


@keyframes numberScaling {
  0% {
    transform: scale(0.7);
  }
  
  80% {
    transform: scale(1.1);
  }
  
  82.5% {
    transform: scale(1.4);
  }
  
  85% {
    transform: scale(1.1);
  }
  
  87.5% {
    transform: scale(1.4);
  }
  
  90% {
    transform: scale(1.1);
  }
  
  92.5% {
    transform: scale(1.4);
  }
  
  95% {
    transform: scale(1.1);
  }
  
  97.5% {
    transform: scale(1.5);
  }
  
  100% {
    transform: scale(1.5);
  }
}