.footer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 60px;
  }
  @include font(20px, 24px);

  &__copy {
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__author {
    display: block;
    margin-bottom: 10px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-right: 6px;
    }
  }
}
