.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 60px;
  }
  @include font(20px, 24px);
}
