.footer {

  @include media-breakpoint-up(xl) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 46px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__lang {
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__logo {
    display: flex;
    width: 100%;

    @include media-breakpoint-up(md) {
      justify-content: center;
    }
  }

  &__copy {
    text-align: center;
    padding-top: 88px;
    padding-bottom: 60px;
    color: #414141;

    @include media-breakpoint-up(xl) {
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__author {
    display: block;
    margin-bottom: 10px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-right: 6px;
    }
  }
}
