.header {
  display: grid;
  position: relative;
  z-index: 10;
  @include media-breakpoint-up(md) {
    grid-template-columns: min-content 1fr;
  }

  ._brand & {
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 70px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 80px;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: 90px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 74px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      align-items: center;
      gap: 40px;
      order: 1;
      justify-content: flex-end;
    }

    @include media-breakpoint-up(xxl) {
      display: grid;
      grid-template-columns: 1fr max-content max-content;
      gap: 10px;
    }

    @include media-breakpoint-up(6xl) {
      gap: 0;
    }

    ._retrodrop & {
      margin-bottom: 20px;
    }
  }

  &__socials {
    @include media-breakpoint-up(xxl) {
      margin-right: 30px;
    }
    @include media-breakpoint-up(6xl) {
      margin-right: 60px;
    }
  }

  &__main-nav {
    position: fixed;
    bottom: 30px;
    left: var(--root-side-gap);
    z-index: 10;

    @include media-breakpoint-up(lg) {
      bottom: 0;
      left: 40px;
      transform-origin: left;
      transform: rotate(-90deg);
    }

    @include media-breakpoint-up(xl) {
      left: 40px;
    }

    @include media-breakpoint-up(xxl) {
      //left: 60px;
      position: relative;
      left: auto;
      transform: none;
    }
  }

  &__logo {
    display: flex;

    @include media-breakpoint-down(md) {
      justify-content: center;
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
      order: 0;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 40px;
    }

    ._retrodrop & {
      display: none;

      @include media-breakpoint-up(md) {
        display: flex;
      }
    }
  }
}
