@keyframes move {

  0% {
    background-position: 0% center;
  }

  100% {
    background-position: -200% center;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    display: block;
    width: 220px;
    margin-bottom: 20px;

    @include media-breakpoint-up(sm) {
      width: 230px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-up(md) {
      width: 240px;
    }

    @include media-breakpoint-up(lg) {
      width: 250px;
    }

    @include media-breakpoint-up(xl) {
      width: 260px;
    }

    @include media-breakpoint-up(xxl) {
      width: 280px;
    }
  }

  &__title {
    @include sr-only;
  }

  &__msg {
    letter-spacing: 2px;
    @include font(70px, 48px, 900);
  }

  &__888 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    @include font(40px, 1, 600);

    @include media-breakpoint-up(sm) {
      @include font(44px, 1, 600);
    }

    @include media-breakpoint-up(lg) {
      @include font(55px, 1, 600);
    }

    @include media-breakpoint-up(xl) {
      @include font(66px, 1, 600);
    }

    @include media-breakpoint-up(xxl) {
      @include font(88px, 1, 600);
    }
  }

  &__text {
    display: block;
    color: transparent;
    text-align: center;
    background-image: linear-gradient(
      92deg,
      #391f69,
      #732b9b,
      #e74bb8,
      #391f69
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move 5s linear infinite;
    margin-bottom: 20px;
    @include font(30px, 1.4, 900);

    @include media-breakpoint-up(sm) {
      margin-bottom: 30px;
      @include font(40px, 1.4, 900);
    }

    @include media-breakpoint-up(md) {
      @include font(44px, 1.4, 900);
    }

    @include media-breakpoint-up(lg) {
      @include font(55px, 1.4, 900);
    }

    @include media-breakpoint-up(xl) {
      @include font(66px, 1.4, 900);
    }

    @include media-breakpoint-up(xxl) {
      @include font(88px, 1.4, 900);
    }
  }

  &__anon {
    display: block;
    text-align: center;
    @include font(48px, 1, 900);

    @include media-breakpoint-up(sm) {
      @include font(55px, 1, 900);
    }

    @include media-breakpoint-up(md) {
      @include font(60px, 1, 900);
    }

    @include media-breakpoint-up(lg) {
      @include font(66px, 1, 900);
    }

    @include media-breakpoint-up(xl) {
      @include font(77px, 1, 900);
    }

    @include media-breakpoint-up(xxl) {
      @include font(88px, 1, 900);
    }
  }

  &__footer {
    padding-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    @include media-breakpoint-up(sm) {
      padding-top: 40px;
      gap: 30px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 50px;
      gap: 40px;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 60px;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 70px;
    }
  }
}
