.lang {
  @include font(12px, 12px);

  @include media-breakpoint-up(sm) {
    @include font(16px, 16px);
  }

  &__list {
    display: flex;
    gap: 8px;

    @include media-breakpoint-up(sm) {
      gap: 10px;
    }

    @include media-breakpoint-up(md) {
      gap: 16px;
    }
  }

  &__link {
    display: block;
    padding: 4px;
  }
}
