.layout {
  --layout-color: var(--root-color-text);
  --layout-color-bg: var(--root-color-main-bg);
  --layout-side-gap: var(--root-side-gap);
  --layout-max-width: 1920px;
  --layout-section-vspace: var(--root-section-vspace);

  &__body {
    display: grid;
    align-items: center;
    grid-template-rows: max-content 1fr max-content;
    max-width: var(--layout-max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    background: linear-gradient(180deg, #242424 0%, #0C0C0C 38.5%, #000000 100%);
    color: var(--layout-color);
    font-family: var(--root-font-family-base);

    @include media-breakpoint-up(xl) {
      padding: 60px 0;
    }

    &._retrodrop {
      background-color: #000;
      background-image: url('/src/assets/images/retro/retro.webp');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;

      @include media-breakpoint-up(md) {
        background-image: url('/src/assets/images/retro/retro-md.webp');
      }

      @include media-breakpoint-up(xl) {
        background-image: url('/src/assets/images/retro/retro-xl.webp');
      }
    }

    &._reveal {
      background-color: #000;
      background-image: url('/src/assets/images/reveal/reveal-2.webp');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;

      @include media-breakpoint-up(md) {
        background-image: url('/src/assets/images/reveal/reveal-2-md.webp');
      }

      @include media-breakpoint-up(xl) {
        background-image: url('/src/assets/images/reveal/reveal-2-xl.webp');
      }
    }
  }

  &__box {
    max-width: 1336px;
    margin-left: calc(var(--root-side-gap) * -1);
    margin-right: calc(var(--root-side-gap) * -1);
    overflow: hidden;

    @include media-breakpoint-up(xl) {
      margin-left: auto;
      margin-right: auto;
      overflow: visible;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      margin-bottom: 66px;
    }
  }

  &__main,
  &__header,
  &__footer {
    padding-left: var(--root-side-gap);
    padding-right: var(--root-side-gap);
  }

  &__footer {
    padding-top: 116px;
  }

  &__box,
  &__section {
    margin-bottom: var(--layout-section-vspace);
  }
}
