.link {
  --link-color: var(--root-color-link);
  --link-color-border: var(--root-color-link-border);
  --link-color-hover: var(--root-color-link-hover);
  --link-color-active: var(--root-color-link-active);
  --link-color-active-border: var(--root-color-link-active-border);
  --link-color-visited: var(--root-color-link-visited);
  --link-color-visited-border: var(--root-color-link-visited-border);

  color: var(--link-color);
  text-decoration-color: var(--link-color-border);
  transition-property: text-decoration-color, color;
  transition-duration: var(--root-animation-duration-slow);
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-position: auto;
  text-underline-offset: 0.14em;

  @include hover {
    color: var(--link-color-hover);
    text-decoration-color: transparent;
  }

  &:focus-visible,
  &:active {
    color: var(--link-color-active);
    text-decoration-color: transparent;
  }

  &:visited {
    color: var(--link-color-visited);
    text-decoration-color: var(--link-color-visited-border);

    @include hover {
      color: var(--link-color-hover);
      text-decoration-color: transparent;
    }
  }

  &--nav:visited {
    color: var(--link-color);
    text-decoration-color: var(--link-color-border-hover);

    @include hover {
      color: var(--link-color-hover);
      text-decoration-color: transparent;
    }
  }

  &--second {
    @include hover {
      color: var(--root-color-text-disabled);
      text-decoration-color: transparent;
    }

    &:focus-visible,
    &:active {
      color: var(--root-color-text-disabled);
      text-decoration-color: transparent;
    }

    &:visited {
      color: var(--root-color-text-disabled);
      text-decoration-color: var(--root-color-text-disabled);

      @include hover {
        color: var(--root-color-text-disabled);
        text-decoration-color: transparent;
      }
    }
  }

  &--second.link--nav:visited {
    color: var(--root-color-text-disabled);
    text-decoration-color: var(--root-color-text-disabled);

    @include hover {
      color: var(--root-color-text-disabled);
      text-decoration-color: transparent;
    }
  }
}
