.logo {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  padding: 4px;

  @include font(14px, 14px);

  @include media-breakpoint-up(sm) {
    @include font(20px, 20px);
  }

  @include media-breakpoint-up(md) {
    @include font(24px, 24px);
  }
}

