.main-nav {
  @include media-breakpoint-down(lg) {
    overflow-x: auto;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 22px;
    background: #000;
    @include scrollbar-hidden;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;

    @include media-breakpoint-up(sm) {
      gap: 20px;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row-reverse;
    }

    @include media-breakpoint-up(xxl) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__note {
    font-style: italic;
  }

  &__item &__link {
    display: block;
    border-radius: 20px;
    padding: 10px 12px;
    background: linear-gradient(90deg, rgba(33,34,42,1) 0%, rgba(42,35,36,1) 45%, rgba(43,40,32,1) 100%);
    border: 1px solid transparent;
    white-space: nowrap;
    text-decoration: none;
    @include font(18px, 1.2, 600);

    @include media-breakpoint-up(sm) {
      padding: 14px 24px;
      @include font(20px, 1.2, 600);
    }

    @include media-breakpoint-up(md) {
      padding: 14px 24px;
      @include font(22px, 1.2, 600);
    }

    @include media-breakpoint-up(lg) {
      padding: 10px 12px;
      border: none;
      background: transparent;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-position: auto;
      text-underline-offset: 0.14em;
      @include font(18px, 1.2, 600);
    }

    @include media-breakpoint-up(xxl) {
      padding: 6px 20px;
      @include font(22px, 1.2, 600);
    }

    @include media-breakpoint-up(4xl) {
      padding: 6px 20px;
      @include font(30px, 1.2, 600);
    }

    @include media-breakpoint-up(6xl) {
      padding: 6px 30px;
      @include font(32px, 1.2, 600);
    }
  }

  &__item &__link._active {
    background: radial-gradient(100% 97% at 100% 50%, #00CD6B 13.03%, #00D186 41.67%, #00CFCF 87.06%);
    color: #000;
    text-decoration: none;

    @include media-breakpoint-up(lg) {
      background: #f9e3b0;
      background: radial-gradient(circle farthest-corner at center center, #F9E3B0 13%, #FFBAAB 42%, #B4BAEC 87%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__item._dsiabled &__link {
    border: 1px solid #362b2b;
    background: #060606;
    color: #362b2a;

    @include media-breakpoint-up(lg) {
      border: none;
      background: transparent;
      color: #4c4c4c;
      text-decoration: none;
    }
  }
}

