.retro-check {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition-property: opacity, visibility, transform;
  transition-duration: 600ms;

  &._active {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
