.retro-results {
  // opacity: 0;
  // visibility: hidden;
  // height: 0;
  // overflow: hidden;
  // transform: translateY(-50px);
  // transition-property: opacity, visibility, transform;
  // transition-duration: 1000ms;
  display: none;

  @include media-breakpoint-up(md) {
    padding-top: 20px;
  }


  @include media-breakpoint-up(xl) {
    padding-top: 30px;
  }

  @include media-breakpoint-up(xxl) {
    padding-top: 40px;
  }

  &._active {
    // opacity: 1;
    // visibility: visible;
    // overflow: visible;
    // height: auto;
    // transform: translateY(0);
    display: block;
  }

}
