.seciton {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(lg) {
    max-width: 1000px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1440px;
  }

  &__title {
    text-align: center;
    background: #B4BAEC;
    background: linear-gradient(to right, #B4BAEC 41%, #FFBAAB 56%, #F9E3B0 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    @include font(38px, 1.06, 600);

    @include media-breakpoint-up(sm) {
      @include font(54px, 1.06, 600);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
      @include font(90px, 1.06, 600);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
      @include font(100px, 1.06, 600);
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 100px;
      @include font(124px, 1.06, 600);
    }
  }
}
