.socials {
  color: #fff;

  &__list {
    display: flex;
    gap: 4px;

    @include media-breakpoint-up(lg) {
      gap: 20px;
    }

    @include media-breakpoint-up(xxxl) {
      gap: 40px;
    }
  }

  &__link {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include media-breakpoint-up(lg) {
      width: 32px;
      height: 32px;
    }

    @include media-breakpoint-up(4xl) {
      width: 40px;
      height: 40px;
    }
  }
}
