.socials {
  color: #fff;

  &__list {
    display: flex;
  }

  &__link {
    display: block;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
  }
}
