---

---
<footer class="layout__footer footer">
  <div class="footer__copy">
    Created by 8 Club. <a href="t.me/community_bot/club" class="link link--nav">Join us, fren</a>.
  </div>
  <div class="footer__socials">
    socials
  </div>
</footer>