---
import LangSwitcher from '@components/LangSwitcher.astro';
import Logo from '@components/Logo.astro';

const currentPageUrl = Astro.url.pathname;
---
<footer class="layout__footer footer">
  <div class="footer__body">
    <div class="footer__logo">
      <Logo classNames={'logo--footer'} />
    </div>
    <div class="footer__lang">
      <LangSwitcher classNames={'lang--drop-top'} />
    </div>
  </div>
  <div class="footer__copy">
    Created by 8Club Community
  </div>
</footer>

