---
import LangSwitcher from '@components/LangSwitcher.astro';
import Logo from '@components/Logo.astro';
import { getLang } from '@utils/GetLang.astro';
import { Sprite } from 'astro-icon';

const currentPageUrl = Astro.url.pathname;

---
<div class="layout__header header">
  <div class="header__actions">
    <div class="header__main-nav main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a href={(currentPageUrl === '/retrodrop' || currentPageUrl === '/retrodrop/' || currentPageUrl === '/box' || currentPageUrl === '/box/') ? '/' : '#'} class="main-nav__link link link--nav" data-main-nav-item="introduce">
            {(getLang(currentPageUrl) === 'en') && ('Introduce')}
            {(getLang(currentPageUrl) === 'ru') && ('Встречайте')}
            {(getLang(currentPageUrl) === 'ua') && ('Зустрічайте')}
            {(getLang(currentPageUrl) === 'cn') && ('介紹')}
          </a>
        </li>
        <li class="main-nav__item">
          <a href={(currentPageUrl === '/retrodrop' || currentPageUrl === '/retrodrop/' || currentPageUrl === '/box' || currentPageUrl === '/box/') ? '/box' : '#box'} class={`main-nav__link link link--nav ${(currentPageUrl === '/box' || currentPageUrl === '/box/') ? '_active' : ''}`} data-main-nav-item="box">
            Reveal
          </a>
        </li>
        <li class="main-nav__item">
          <a href={(currentPageUrl === '/retrodrop' || currentPageUrl === '/retrodrop/' || currentPageUrl === '/box' || currentPageUrl === '/box/') ? '/retrodrop' : '#retrodrop'} class={`main-nav__link link link--nav ${(currentPageUrl === '/retrodrop' || currentPageUrl === '/retrodrop/') ? '_active' : ''}`} data-main-nav-item="retrodrop">
            Retrodrop
          </a>
        </li>
        <li class="main-nav__item">
          <a href={(currentPageUrl === '/retrodrop' || currentPageUrl === '/retrodrop/' || currentPageUrl === '/box' || currentPageUrl === '/box/') ? '/#roadmap' : '#roadmap'} class="main-nav__link link link--nav" data-main-nav-item="roadmap">
            {(getLang(currentPageUrl) === 'en') && ('Roadmap')}
            {(getLang(currentPageUrl) === 'ru') && ('Дорожная карта')}
            {(getLang(currentPageUrl) === 'ua') && ('Дорожня карта')}
            {(getLang(currentPageUrl) === 'cn') && ('日曆計劃')}
          </a>
        </li>
        <!-- <li class="main-nav__item _dsiabled">
          <div class="main-nav__link">
            {(getLang(currentPageUrl) === 'en') && (<>Marketplace <span class="main-nav__note">TBD</span></>)}
            {(getLang(currentPageUrl) === 'ru') && (<>Маркетплейс <span class="main-nav__note">TBD</span></>)}
            {(getLang(currentPageUrl) === 'ua') && (<>Маркетплейс <span class="main-nav__note">TBD</span></>)}
            {(getLang(currentPageUrl) === 'cn') && (<>市場 TBD</>)}
          </div>
        </li> -->
      </ul>
    </div>
    <div class="header__socials socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a href="https://t.me/anon_club" class="socials__link link link--nav" title="Telegram Channel">
            <Sprite name="telegram" class="socials__icon" />
          </a>
        </li>
        <li class="socials__item">
          <a href="https://x.com/anonclub8" class="socials__link link link--nav" title="Read us on X (ex Twitter)">
            <Sprite name="x" class="socials__icon" />
          </a>
        </li>
      </ul>
    </div>
    <div class="header__lang">
      {(currentPageUrl !== '/retrodrop' && currentPageUrl !== '/retrodrop/') && <LangSwitcher />}
    </div>
  </div>
  <div class="header__logo">
    <Logo />
  </div>
</div>