---
import { getLang } from '@utils/GetLang.astro';
const currentPageUrl = Astro.url.pathname;

---
<div class="layout__header header">
  <a href="/" class="header__logo logo">
    <span class="logo__anon">ANON</span>🎱<span class="logo__domain">.org</span>
  </a>
  <div class="header__lang">
    <div class="lang">
      <ul class="lang__list">
        {
          (getLang(currentPageUrl) === 'en') && 
          (
          <li class="lang__item">
          <a href="/ru/" class="lang__link link link--nav">RU</a>
          </li>
          <li class="lang__item">
            <a href="/ua/" class="lang__link link link--nav">UA</a>
          </li>
          )
        }

        {
          (getLang(currentPageUrl) === 'ru') && 
          (
          <li class="lang__item">
          <a href="/" class="lang__link link link--nav">EN</a>
          </li>
          <li class="lang__item">
            <a href="/ua/" class="lang__link link link--nav">UA</a>
          </li>
          )
        }

        {
          (getLang(currentPageUrl) === 'ua') && 
          (
          <li class="lang__item">
          <a href="/" class="lang__link link link--nav">EN</a>
          </li>
          <li class="lang__item">
            <a href="/ru/" class="lang__link link link--nav">RU</a>
          </li>
          )
        }
        
      </ul>
    </div>
  </div>
</div>