---
import LangSwitcher from '@components/LangSwitcher.astro';
import Logo from '@components/Logo.astro';
import { Sprite } from 'astro-icon';

---
<div class="layout__header header">
  <div class="header__actions">
    <div class="header__main-nav main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a href="#" class="main-nav__link link link--nav" data-main-nav-item="introduce">
            Introduce
          </a>
        </li>
        <li class="main-nav__item">
          <a href="#roadmap" class="main-nav__link link link--nav" data-main-nav-item="roadmap">
            Roadmap
          </a>
        </li>
        <li class="main-nav__item _dsiabled">
          <div class="main-nav__link">
            Marketplace TBD
          </div>
        </li>
      </ul>
    </div>
    <div class="header__socials socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a href="https://t.me/anon_club" class="socials__link link link--nav" title="Telegram Channel">
            <Sprite name="telegram" class="socials__icon" />
          </a>
        </li>
        <li class="socials__item">
          <a href="https://x.com/anonclub8" class="socials__link link link--nav" title="Read us on X (ex Twitter)">
            <Sprite name="x" class="socials__icon" />
          </a>
        </li>
      </ul>
    </div>
    <div class="header__lang">
      <LangSwitcher />
    </div>
  </div>
  <div class="header__logo">
    <Logo />
  </div>
</div>