<div class="layout__header header">
  <a href="/" class="header__logo logo link link--nav">
    ANON8🎱org
  </a>
  <div class="header__lang">
    <div class="lang">
      <ul class="lang__list">
        <li class="lang__item">
          <a href="/ru/" class="lang__link link">RU</a>
        </li>
        <li class="lang__item">
          <a href="/ua/" class="lang__link link">UA</a>
        </li>
      </ul>
    </div>
  </div>
</div>