---
import LangSwitcher from '@components/LangSwitcher.astro';
---
<div class="layout__header header">
  <a href="/" class="header__logo logo">
    <span class="logo__anon">ANON</span>🎱<span class="logo__domain">.tg</span>
  </a>
  <div class="header__lang">
    <LangSwitcher />
  </div>
</div>