---
import BaseLayout from '@layouts/BaseLayout.astro';
import BoxWallet from '@components/box/BoxWallet.astro';
import BoxModal from '@components/box/BoxModal.astro';
import { Sprite } from 'astro-icon';

const pageTitle = "ANON";
---

<BaseLayout title={pageTitle}>
  <div class="layout__section section box-reveal-page">
    <div class="box-reveal-page__body">
      <Sprite name="mark" style="display: none;" />
    <Sprite name="logo" class="section__logo" />
    <h2 class="section__title section__title--intro">REVEAL ANON <span class="section__title-sub">Boxes</span></h2>

    <div class="box-check _active" data-box-check>

      <p class="section__intro text text--offset-bottom">The ANON boxes will be gradually revealed over a period of 24 hours</p>
      <p class="section__intro text text--offset-bottom text--express">
        Reveal your box. Enter your&nbsp;wallet&nbsp;address.
      </p>

      <div class="form form--offset-bottom">
        <div class="form__item">
          <input id="wallet" type="text" class="form__input input input--wallet">
          <div class="error-msg">Sorry, there is&nbsp;no&nbsp;such wallet in&nbsp;the database</div>
        </div>
        <div class="form__item">
          <button id="wallet-button" class="btn btn--wide" disabled>
            <div class="btn__loader"></div>
            Check
          </button>
        </div>
      </div>

    </div>

    <div class="box-results" data-box-results>

      <BoxModal />

      <div class="content">

        <BoxWallet />

        <div class="boxes">
          <ul id="boxes-list" class="boxes__list"></ul>
        </div>

      </div>

      <div class="box-results__actions">
        <button class="box-results__btn" type="button" data-share-button>
          <div class="box-results__copied">
            <Sprite name="thumbsup" class="box-results__copied-icon" />
            Link is copied
          </div>
          <div class="box-results__text">
            <Sprite name="share" class="box-results__btn-icon" />
            Share your results
          </div>
        </button>
      </div>

    </div>
    </div>
  </div>

</BaseLayout>
