---
import BaseLayout from '@layouts/BaseLayout.astro';
import Story from '@components/Story.astro';
import { Sprite } from 'astro-icon';

const pageTitle = "ANON";
---

<BaseLayout title={pageTitle}>
  <div id="introduce" data-nav-section>
    <div class="hero">
      <div class="hero__ball">
        <svg width="216" height="216" viewBox="0 0 216 216" fill="none" xmlns="http://www.w3.org/2000/svg" class="hero__ball-pic">
          <circle cx="108" cy="108" r="108" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M100.77 110.815C128.259 98.0363 142.309 69.9661 132.152 48.1186C121.996 26.2712 91.4786 18.9197 63.9903 31.6986C36.502 44.4775 22.4518 72.5478 32.6084 94.3952C42.7649 116.243 73.2821 123.594 100.77 110.815ZM63.5601 65.289C61.9234 64.3504 60.6292 63.0508 59.8203 61.4095C56.776 55.2324 61.7568 46.5539 70.9453 42.0254C80.1337 37.4969 90.0504 38.8333 93.0947 45.0104C95.0551 48.988 93.6878 54.0028 90.0122 58.2789C93.7032 59.6346 96.6998 62.0874 98.3869 65.5106C102.57 73.9974 97.1194 85.2345 86.2137 90.6093C75.3079 95.9841 63.0764 93.4614 58.8937 84.9746C55.831 78.7603 57.9331 71.0713 63.5601 65.289Z" fill="white"/>
          <path d="M80.4924 49.7767C81.553 52.0057 79.9692 55.1313 76.9547 56.758C73.9403 58.3847 70.6368 57.8964 69.5761 55.6674C68.5155 53.4384 70.0993 50.3127 73.1138 48.6861C76.1282 47.0594 79.4317 47.5477 80.4924 49.7767Z" fill="white"/>
          <path d="M84.4418 69.6449C86.2346 72.7356 84.372 77.1647 80.2814 79.5376C76.1908 81.9105 71.4213 81.3285 69.6285 78.2378C67.8356 75.1471 69.6983 70.718 73.7888 68.3451C77.8794 65.9723 82.6489 66.5542 84.4418 69.6449Z" fill="white"/>
          </svg>
      </div>
      <div class="hero__body">
        <h1 class="hero__msg">
          <span class="hero__msg-item">Introduce</span> <br>
          <span class="hero__msg-item hero__msg-item--accent">Self-Regulated</span><br>
          <span class="hero__msg-item">Community</span>
        </h1>
      </div>
      <div class="hero__footer">
        <div class="hero__cta cta">
          <ul class="cta__list">
            <li class="cta__item">
              <a href="https://t.me/anon_club/2" class="cta__link button button--primary">
                History
              </a>
            </li>
            <li class="cta__item">
              <a href="#roadmap" class="cta__link button button--secondary button--trans">
                Future
              </a>
            </li>
          </ul>
          <a href="https://t.me/community_bot/club" class="cta__club link link--nav">Join us,🎱Fren<span class="cta__exmark">!</span></a>
        </div>
      </div>
    </div>

    <section class="layout__box box">
      <div class="box__numbers numbers-list">
        <div class="numbers-list__body">
          <div class="numbers-list__item">
            <div class="number number--primary">
              <div class="number__num">+888 XXXX XXXX</div>
            </div>
          </div>
          <div class="numbers-list__item">
            <div class="number number--secondary">
              <div class="number__num">+888 X XXX</div>
            </div>
          </div>
          <div class="numbers-list__item">
            <div class="number number--thirdly">
              <div class="number__num">+888 XXXX XXXX</div>
            </div>
          </div>
        </div>
      </div>
      <div class="box__body">
        <h2 class="box__title">Hold $ANON</h2>
        <div class="box__content">
          <p class="box__text box__text--space-bottom">Top-tier token with&nbsp;<span class="box__888-888-888">anonymity</span> and&nbsp;self&#8209;regulation.</p>
          <p class="box__text box__text--space-bottom">Your chance to&nbsp;become a&nbsp;part of&nbsp;a&nbsp;private community.</p>
          <p class="box__text">Stay ANON<span class="box__exmark">!</span></p>
        </div>

        <div class="box__nav nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="https://app.ston.fi/swap?chartVisible=false&ft=TON&tt=ANON" class="nav__link link link--nav">Swap</a>
            </li>
            <li class="nav__item">
              <a href="https://fragment.com/numbers" class="nav__link link link--nav">Get +888</a>
            </li>
            <li class="nav__item">
              <a href="#roadmap" class="nav__link link link--nav">Future</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <section id="retrodrop" class="layout__section section" data-nav-section>
    <Sprite name="logo" class="section__logo" />
    <h2 class="section__title section__title--intro">UPGRADE ANON <span class="section__title-sub">Tokenomics Retrodrop</span></h2>

    <p class="section__intro text text--offset-bottom">Exclusive SBTs await each participant who meets the terms of&nbsp;our program.</p>
    <p class="section__intro section__intro--offset-bottom text">
      <a href="/retrodrop" class="btn btn--wide">Check your eligibility</a>
    </p>

    <div class="content">
      <Story />
    </div>

  </section>

  <section id="roadmap" class="layout__section section" data-nav-section>
    <h2 class="section__title">Roadmap</h2>

    <div class="tabs">
      <dl class="tabs__body">
        <dt class="tabs__title _active" data-tab="2024-q2">
          <span class="tabs__year">2024</span>
          <span class="tabs__q">Q2</span>
        </dt>
        <dd id="2024-q2" class="tabs__content _active" data-tab-content>

          <div class="check-list">
            <ul class="check-list__list">
              <li class="check-list__item _done">
                Presale $500k hard cap
              </li>
              <li class="check-list__item _done">
                ANON will be distributed DEX pair and investors
              </li>
              <li class="check-list__item _done">
                Listing on DEXs and verify token in dapps
              </li>
              <li class="check-list__item _done">
                LP tokens of lock period
              </li>
              <li class="check-list__item _done">
                Website, social networks
              </li>
              <li class="check-list__item _done">
                Coingecko token listing
              </li>
              <li class="check-list__item _done">
                Coinmarketcap token listing
              </li>
              <li class="check-list__item _in-progress _parent">
                Collaborations with other projects on the TON blockchain
                <ul class="check-list__list">
                  <li class="check-list__item _done">
                    Minor Open level Challenge
                  </li>
                  <li class="check-list__item _done">
                    $ANON x TON FISH Partnership
                  </li>
                  <li class="check-list__item _done">
                    Catizen + $ANON Partnership
                  </li>
                  <li class="check-list__item _done">
                    DYOR + $ANON Partnership
                  </li>
                  <li class="check-list__item _done">
                    The Pixels x $ANON Partnership
                  </li>
                  <li class="check-list__item _in-progress">
                    TBD
                  </li>
                </ul>
              </li>
              <li class="check-list__item _in-progress _parent">
                CEX listing
                <ul class="check-list__list">
                  <li class="check-list__item _done">
                    MEXC listing
                  </li>
                  <li class="check-list__item _in-progress">
                    TBD
                  </li>
                </ul>
              </li>
              <li class="check-list__item _in-progress">
                Launching token burning programs
              </li>
              <li class="check-list__item _in-progress">
                Development of utilities that increase the value of&nbsp;ANON ownership
              </li>
              <li class="check-list__item _in-progress">
                Reward campaigns
              </li>
              <li class="check-list__item">
                Release Telegram mini-game on TON blockchain
              </li>
            </ul>
          </div>
        </dd>
        <dt class="tabs__title" data-tab="2024-q3-4">
          <span class="tabs__year _sr-only">2024</span>
          <span class="tabs__q">Q3-4</span>
        </dt>
        <dd id="2024-q3-4" class="tabs__content" data-tab-content>
          
          <div class="check-list">
            <ul class="check-list__list">
              <li class="check-list__item">
                Decentralized VPN service based on ANON and TON
              </li>
              <li class="check-list__item">
                NFT marketplace
              </li>
              <li class="check-list__item">
                Confidential tip and donation system for content creators
              </li>
              <li class="check-list__item">
                Collaboration with large data aggregators
              </li>
              <li class="check-list__item">
                Collaboration with payment systems and services
              </li>
              <li class="check-list__item">
                Hackathons and contests for developers, creating new products for the ecosystem
              </li>
            </ul>
          </div>

        </dd>
        <dt class="tabs__title _disabled">
          <span class="tabs__year">2025</span>
          <span class="tabs__q">TBA</span>
        </dt>
      </dl>
    </div>

  </section>
</BaseLayout>
