---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Sprite } from 'astro-icon';

const pageTitle = "ANON";
---

<BaseLayout title={pageTitle}>
  <div class="layout__section section">
  
    <Sprite name="logo" class="section__logo" />
    <h2 class="section__title section__title--intro">UPGRADE ANON <span class="section__title-sub">Tokenomics Retrodrop</span></h2>

    <p class="section__intro text text--offset-bottom">There are&nbsp;exclusive rewards waiting for&nbsp;you when you&nbsp;join our&nbsp;programme.</p>
    <p class="section__intro section__intro--offset-bottom text">
      <a href="/retrodrop" class="btn btn--wide">Check your status</a>
    </p>

    <div class="story">
      <div class="story__body">
        <ul class="story__list">
          <li class="story__item">
            <h3 class="story__title h3">REWARD</h3>
            <div class="story__content">
              <p class="text text--offset-bottom">
                <Sprite name="pass" class="text__icon text-icon" />
                ANON Pass of varying rarity for holders of anonymous numbers, depending on the amount donated.
              </p>
              <p class="text">
                <Sprite name="box" class="text__icon text-icon" />
                ANON Box with a reveal depending on the donation amount for everyone else.
              </p>
            </div>
          </li>
          <li class="story__item">
            <h3 class="story__title h3">THE STORY</h3>
            <div class="story__content">
              <p class="text">
                2555 participants supported ANON Upgrade tokenomics and received ANON Passes and ANON Boxes as the most valuable early adopters who will enjoy benefits across all of our products.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="story__footer">
        <div class="story__footer-item">
          <div class="story__sub-title">All holders</div>
          <div class="story__total">88 888+</div>
        </div>
        <div class="story__footer-item">
          <div class="story__sub-title">Hard cap</div>
          <div class="story__total">$950,000+</div>
        </div>
      </div>
    </div>

  </div>

</BaseLayout>
