---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = "ANON";
---

<BaseLayout title={pageTitle}>
  <h1>ANON</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum perferendis, quos inventore recusandae laudantium a, sit impedit repudiandae eaque iusto quibusdam optio officiis corrupti molestias? Explicabo, sed voluptatibus? Molestias, rerum!</p>
</BaseLayout>