---
import { Sprite } from 'astro-icon';

---
<div class="retro-hero retro-hero--offset-bottom">
  <div class="retro-hero__pic">
    <div class="retro-hero__back"></div>
    <div class="retro-hero__front"></div>
  </div>
  <div class="retro-hero__title">Congratulations, you will receive within 24&nbsp;hours&nbsp;a</div>
  <div class="retro-hero__level"></div>
  <div class="retro-hero__raffle">
    You have qualified for the 42&nbsp;box raffle among the big holders. It&nbsp;will take place here very soon, follow the announcements&nbsp;on <a href="https://t.me/anon_club" class="link">@anon_club</a>
  </div>
</div>
