---
import { Sprite } from 'astro-icon';

---
<div class="score">
  <h3 class="score__title">Retro Score</h3>

  <table class="score__table">
    <tr class="score__item">
      <th class="score__label">Anon numbers</th>
      <th class="score__label">Reward</th>
    </tr>
    <tr class="score__item" data-box>
      <td class="score__value">no</td>
      <td class="score__value">Box</td>
    </tr>
    <tr class="score__item" data-pass>
      <td class="score__value">yes</td>
      <td class="score__value">Pass</td>
    </tr>
  </table>

</div>
