---
import { Sprite } from 'astro-icon';

---
<div class="score score--offset-bottom">
  <h3 class="score__title">Retro Score</h3>

  <div class="score__table">
    <div class="score__item">
      <div class="score__label">Anon numbers</div>
      <div class="score__label">Reward</div>
    </div>
    <div class="score__item" data-retro-box>
      <div class="score__value">no</div>
      <div class="score__value">
        <Sprite name="box" class="score__icon" />
        Box
      </div>
    </div>
    <div class="score__item" data-retro-pass>
      <div class="score__value">yes</div>
      <div class="score__value">
        <Sprite name="pass" class="score__icon" />
        Pass
      </div>
    </div>
  </div>

  <div class="score__table">
    <div class="score__item">
      <div class="score__label">Anon holder</div>
      <div class="score__label">Points</div>
    </div>
    <div class="score__item" data-retro-hold-0>
      <div class="score__value">888+</div>
      <div class="score__value">0</div>
    </div>
    <div class="score__item" data-retro-hold-1>
      <div class="score__value">8 888+</div>
      <div class="score__value">1</div>
    </div>
    <div class="score__item" data-retro-hold-2>
      <div class="score__value">88 888+</div>
      <div class="score__value">2</div>
    </div>
    <div class="score__item" data-retro-raffle>
      <div class="score__value">888 888+</div>
      <div class="score__value">
        <Sprite name="box" class="score__icon" />
        2+Raffle
      </div>
    </div>
  </div>

  <div class="score__table">
    <div class="score__item">
      <th class="score__label">Donate (USD₮)</th>
      <th class="score__label">Points</th>
    </div>
    <div class="score__item" data-retro-donate-1>
      <div class="score__value">100+</div>
      <div class="score__value">1</div>
    </div>
    <div class="score__item" data-retro-donate-2>
      <div class="score__value">200+</div>
      <div class="score__value">2</div>
    </div>
    <div class="score__item" data-retro-donate-3>
      <div class="score__value">500+</div>
      <div class="score__value">3</div>
    </div>
    <div class="score__item" data-retro-donate-4>
      <div class="score__value">888+</div>
      <div class="score__value">4</div>
    </div>
    <div class="score__item" data-retro-donate-5>
      <div class="score__value">1500+</div>
      <div class="score__value">5</div>
    </div>
    <div class="score__item" data-retro-donate-6>
      <div class="score__value">2500+</div>
      <div class="score__value">6</div>
    </div>
    <div class="score__item" data-retro-donate-7>
      <div class="score__value">8 888+</div>
      <div class="score__value">7</div>
    </div>
    <div class="score__item" data-retro-donate-8>
      <div class="score__value">10 000+</div>
      <div class="score__value">8</div>
    </div>
  </div>

  <div class="score__table" data-retro-score-pass>
    <div class="score__item">
      <th class="score__label">PASS</th>
      <th class="score__label">Total</th>
    </div>
    <div class="score__item" data-retro-score-level="bronze">
      <div class="score__value">Bronze</div>
      <div class="score__value">1</div>
    </div>
    <div class="score__item" data-retro-score-level="silver">
      <div class="score__value">Silver</div>
      <div class="score__value">2</div>
    </div>
    <div class="score__item" data-retro-score-level="gold">
      <div class="score__value">Gold</div>
      <div class="score__value">3</div>
    </div>
    <div class="score__item" data-retro-score-level="platinum">
      <div class="score__value">Platinum</div>
      <div class="score__value">4</div>
    </div>
    <div class="score__item" data-retro-score-level="sapphire">
      <div class="score__value">Sapphire</div>
      <div class="score__value">5</div>
    </div>
    <div class="score__item" data-retro-score-level="emerald">
      <div class="score__value">Emerald</div>
      <div class="score__value">6</div>
    </div>
    <div class="score__item" data-retro-score-level="ruby">
      <div class="score__value">Ruby</div>
      <div class="score__value">7</div>
    </div>
    <div class="score__item" data-retro-score-level="diamond">
      <div class="score__value">Diamond</div>
      <div class="score__value">8</div>
    </div>
  </div>

  <div class="score__table" data-retro-score-box>
    <div class="score__item">
      <th class="score__label">BOX</th>
      <th class="score__label">Total</th>
    </div>
    <div class="score__item" data-retro-score-level="bronze">
      <div class="score__value">Bronze</div>
      <div class="score__value">2</div>
    </div>
    <div class="score__item" data-retro-score-level="silver">
      <div class="score__value">Silver</div>
      <div class="score__value">3</div>
    </div>
    <div class="score__item" data-retro-score-level="gold">
      <div class="score__value">Gold</div>
      <div class="score__value">4</div>
    </div>
    <div class="score__item" data-retro-score-level="platinum">
      <div class="score__value">Platinum</div>
      <div class="score__value">5</div>
    </div>
    <div class="score__item" data-retro-score-level="sapphire">
      <div class="score__value">Sapphire</div>
      <div class="score__value">6</div>
    </div>
    <div class="score__item" data-retro-score-level="emerald">
      <div class="score__value">Emerald</div>
      <div class="score__value">7</div>
    </div>
    <div class="score__item" data-retro-score-level="ruby">
      <div class="score__value">Ruby</div>
      <div class="score__value">8</div>
    </div>
    <div class="score__item" data-retro-score-level="diamond">
      <div class="score__value">Diamond</div>
      <div class="score__value">9</div>
    </div>
  </div>

</div>
