---
import { Sprite } from 'astro-icon';

---
<div class="story">
  <div class="story__body">
    <ul class="story__list">
      <li class="story__item">
        <h3 class="story__title h3">REWARD</h3>
        <div class="story__content">
          <p class="text text--offset-bottom">
            <Sprite name="pass" class="text__icon text-icon" />
            ANON Pass of&nbsp;varying rarity for holders of&nbsp;anonymous numbers, depending on&nbsp;the amount donated.
          </p>
          <p class="text">
            <Sprite name="box" class="text__icon text-icon" />
            ANON Box with a&nbsp;reveal depending on&nbsp;the donation amount for everyone else.
          </p>
        </div>
      </li>
      <li class="story__item">
        <h3 class="story__title h3">THE STORY</h3>
        <div class="story__content">
          <p class="text">
            2555 participants supported ANON Upgrade tokenomics and received ANON Passes and ANON Boxes as&nbsp;the most valuable early adopters who will enjoy benefits across all of&nbsp;our products.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="story__footer">
    <div class="story__footer-item">
      <div class="story__sub-title">Hard cap</div>
      <div class="story__total">$1M</div>
    </div>
    <div class="story__footer-item">
      <div class="story__sub-title">All holders</div>
      <div class="story__total">33 800+</div>
    </div>
  </div>
</div>
