---
import { Sprite } from 'astro-icon';

---
<div class="wallet wallet--offset-bottom">
  <Sprite name="msg" class="wallet__icon wallet__icon--msg" />
  <Sprite name="mark" class="wallet__icon" />
  <div class="wallet__title" data-box-wallet-name></div>
  <button class="wallet__close" data-box-wallet-close>
    <Sprite name="close" class="wallet__close-icon" />
  </button>
</div>
