@import 'blocks/layout';
@import 'blocks/link';
@import 'blocks/btn';
@import 'blocks/h3';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/lang';
@import 'blocks/logo';
@import 'blocks/hero';
@import 'blocks/socials';
@import 'blocks/button';
@import 'blocks/cta';
@import 'blocks/nav';
@import 'blocks/number';
@import 'blocks/box';
@import 'blocks/numbers-list';
@import 'blocks/section';
@import 'blocks/tabs';
@import 'blocks/check-list';
@import 'blocks/main-nav';
@import 'blocks/text';
@import 'blocks/text-icon';
@import 'blocks/story';
@import 'blocks/form';
@import 'blocks/input';
@import 'blocks/wallet';
@import 'blocks/content';
@import 'blocks/status';
@import 'blocks/info-panel';
@import 'blocks/rate';
@import 'blocks/score';
@import 'blocks/retro-hero';
@import 'blocks/retro-check';
@import 'blocks/retro-results';
@import 'blocks/msg';
@import 'blocks/error-msg';
@import 'blocks/countdown';
@import 'blocks/confetti';

