@import 'mixins';

$grid-breakpoints: (
  zero: 0,
  xs: 320px,
  xsm: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  4xl: 1700px,
  5xl: 1780px,
  6xl: 1850px,
);
$basic-font-family: 'Inter', sans-serif;
$second-font-family: 'Krona One', sans-serif;
$animation-speed: 300ms;
$animation-function: ease;
$page-max-width: 1200px;

:root {
  // Light Theme Colors
  --root-color-primary: #000;
  --root-color-primary-soft: #373737;
  --root-color-primary-soft-light: #5E5E5E;
  --root-color-primary-help: #1B1B1B;
  --root-color-primary-accent: #100b11;
  --root-color-secondary: #fff;
  --root-color-accent: #e28df7;
  --root-color-accent-help: #ecbabb;
  --root-color-text-disabled: #414141;
  --root-color-text-disabled-second: #606060;
  --root-color-hover-bg: rgba(22 21 21 / 14.5%);

  --root-color-system-active: var(--root-color-accent-help);

  // Retro Status
  --root-color-level-bronze: #f49a7a;
  --root-color-level-silver: #b6b6b6;
  --root-color-level-gold: #ffde37;
  --root-color-level-platinum: #eee4d5;
  --root-color-level-sapphire: #74a7ff;
  --root-color-level-emerald: #92f042;
  --root-color-level-ruby: #ff7469;
  --root-color-level-diamond: #1dead1;

  // text-colors
  --root-color-text: var(--root-color-secondary);
  --root-color-text-loss: #9f9f9f;

  // link-colors
  --root-color-link: var(--root-color-secondary);
  --root-color-link-border: rgba(255 255 255 / 60%);
  --root-color-link-hover: var(--root-color-accent-help);
  --root-color-link-active: var(--root-color-system-active);
  --root-color-link-active-border: rgba(255 0 0 / 87%);
  --root-color-link-visited: #e28df7;
  --root-color-link-visited-border: rgba(144 29 173 40%);

  // bg colors
  --root-color-main-bg: var(--root-color-primary);

  // Font
  --root-font-family-base: 'Inter', sans-serif;
  --root-font-family-second: 'Krona One', sans-serif;

  // Animations
  --root-animation-delay: 0.15s;
  --root-animation-duration-slow: 0.5s;
  --root-animation-duration: 0.3s;
  --root-animation-duration-fast: 0.2s;

  // Dimentions
  --root-side-gap: 24px;

  @include media-breakpoint-up(sm) {
    --root-side-gap: 40px;
  }

  @include media-breakpoint-up(md) {
    --root-side-gap: 80px;
  }

  @include media-breakpoint-up(lg) {
    --root-side-gap: 120px;
  }

  @include media-breakpoint-up(xl) {
    --root-side-gap: 120px;
  }

  @include media-breakpoint-up(xxl) {
    --root-side-gap: 60px;
  }

  --root-section-vspace: 70px;

  @include media-breakpoint-up(sm) {
    --root-section-vspace: 90px;
  }

  @include media-breakpoint-up(md) {
    --root-section-vspace: 130px;
  }

  @include media-breakpoint-up(xl) {
    --root-section-vspace: 180px;
  }
}
